 body {
    font-family: CoFo 'Times New Roman', Times, serif;
    background-color: rgb(240, 240, 240);
    margin: 0px;
    padding: 0px;
    background-color: rgb(242, 235, 226);

 }
 a{
            color:rgb(0,0,0);
            text-decoration: none;
        }
        ul{
            list-style-type: none;
            padding:0;
        }
        h1{
            color: rgb(0, 0, 0);
            text-align: center;
            font-size: 80px;
            text-decoration-color: currentColor;
            margin-top: 190px;
            }

        h2{
            color: rgb(124, 120, 92);
            text-align: center;
            font-size: 40px;
            text-decoration-color: currentColor;

        }

        h3{
            color: rgb(124, 120, 92);
            text-align: center;
            font-size: 30px;
            text-decoration-color: currentColor;
            margin-top: 220px;

        }

    
        #cabecalho {
            background-color: rgb(242, 235, 226);
            border: rgb(0,0,0) solid 2px;
            margin: 0px;
            padding: 10px;
        }
        #cabecalho a {
            color: rgb(0,0,0);
            font-size: 25px;
        }
        #cabecalho li {
            display: inline-block;
            margin-inline: 200px; 
        }

        #rodape {
            background-color: rgb(0, 0, 0);
            text-align: center;
            padding: 5px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        #rodape a {
            color:rgb(242, 235, 226);
            text-decoration: none;
        }
       